:root {
  --color-bg: #fff;
  --color-text-primary: rgba(0, 0, 0, 1);
  --color-text-secondary: rgba(0, 0, 0, 0.7);
  --color-text-error: rgba(173, 42, 42, 1);
  --color-link: rgb(0, 66, 181);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #222;
    --color-input-bg: #333;
    --color-text-primary: rgba(255, 255, 255, 1);
    --color-text-secondary: rgba(255, 255, 255, 0.7);
    --color-text-error: rgb(247, 127, 127);
    --color-link: rgb(103, 141, 207);
    --font-monospace: "SF Mono", "Roboto Mono", "Fira Code", "Fira Mono", "Droid Sans Mono", "Source Code Pro",
      monospace;
  }
}

* {
  box-sizing: border-box;
}
html {
  display: flex;
}
html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  padding: 0;
}
body {
  padding: 1rem 0;
  margin: 0;
}
body > * {
  padding: 0 1rem;
}
#header,
#form,
#problems {
  position: sticky;
  left: 0;
  width: 100vw;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
a,
a:visited {
  color: var(--color-link);
}
h1 {
  margin-top: 0;
  margin-right: 1rem;
}
#package-spec {
  margin: 0 0.5em;
  background-color: var(--color-input-bg);
  color: var(--color-text-primary);
  font-family: var(--font-monospace);
}
#message {
  font-size: small;
  margin-top: 0.5em;
  color: var(--color-text-secondary);
}
#message.error {
  color: var(--color-text-error);
}
#message::after {
  content: "";
  display: inline-block;
}
p {
  max-width: 800px;
}
dt {
  float: left;
}
dd {
  margin-inline-start: 30px;
}
dt,
dd {
  padding: 0.5em 0;
}
#resolutions {
  margin-bottom: 1rem;
  font-size: small;
  white-space: nowrap;
}
table,
th,
td {
  border: 1px solid var(--color-text-secondary);
  border-collapse: collapse;
  padding: 0.5em;
}

.display-none {
  display: none;
}
